<h1>{{title}}</h1>

<form [formGroup]="form">
  <fieldset>
    <label>Task</label>
    <input formControlName="title" type="text" placeholder="Insert a task" maxlength="60">
    <button>Save</button>
  </fieldset>
</form>

<ul>
  <li *ngFor="let todo of todos">{{todo.id}}. {{todo.title}} |
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">Concluir</button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)">Refazer</button> |
    <button (click)="remove(todo)">Remover</button>
  </li>
</ul>