<div class="container">

  <h1 class="title animate__animated animate__jackInTheBox">{{title}}</h1>

  <div id="modal" *ngIf="mode==='add'" class="animate__animated animate__flipInX">
    <form [formGroup]="form">
      <h1>Task</h1>
      <br>
      <input formControlName="title" type="text" placeholder="Insert a task" maxlength="60">
      <small class="danger" *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">This field must contain between 3 and 60 characters.</small>
      <br>
      <button class="button" [disabled]="form.invalid" (click)="add()"><i class="far fa-save"></i> Save</button>
    </form>
  </div>

  <ul class="animate__animated animate__flipInX" *ngIf="mode==='list'">
    <p class="text-center" *ngIf="todos.length === 0">
      <small>You don't have any tasks today.</small>
    </p>
    <li *ngFor="let todo of todos">
      <p [ngClass]="{'done': todo.done}">{{todo.title}}</p>
      <div class="actions">
        <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button>
        <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i></button>
        <button (click)="remove(todo)"><i class="far fa-trash-alt"></i></button>
      </div>
    </li>
  </ul>

  <button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('add')" *ngIf="mode==='list'">
    <i class="fas fa-plus-circle"> New task</i>
  </button>
  <button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('list')" *ngIf="mode==='add'">
    <i class="fas fa-times"> Cancel</i>
  </button>

</div>